<template>
  <div id="main">
    <div class="header">
      <h1 class="header-title">Artificial Intelligence App</h1>
    </div>
    <div class="content container-fluid">
      <div class="col-lg-12">
        <b-card class="mt-3">
          <div class="col-md-12">
            <b-table striped hover :items="items" :fields="fields" empty-text="Please input item first!" show-empty></b-table>
          </div>
        </b-card>
        <b-card class="mt-3">
          <b-form inline>
            <b-form-select
              class="mb-2 mr-sm-2 mb-sm-0 col-5"
              v-model="object.gender"
              :options="genders">
            </b-form-select>
            <b-form-input
              class="mb-2 mr-sm-2 mb-sm-0 col-5"
              v-model="object.item"
              placeholder="Input item here...">
            </b-form-input>
            <b-button
              variant="primary"
              class="mb-2 mr-sm-2 mb-sm-0"
              @click="saveObject">
              Save
            </b-button>
            <b-button
              variant="secondary"
              class="mb-2 mr-sm-2 mb-sm-0"
              @click="clearObject">
              Clear
            </b-button>
          </b-form>
          <b-alert class="col-12 mt-3" :show="message !== null" dismissible @dismissed="message = null">
            {{ message }}
          </b-alert>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  data () {
    return {
      fields: ['gender', 'item'],
      items: [],
      genders: [
        { value: null, text: 'Please select a gender', disabled: true },
        { value: 'Male', text: 'Male' },
        { value: 'Female', text: 'Female' }
      ],
      object: {
        gender: null,
        item: ''
      },
      message: null
    }
  },
  methods: {
    saveObject () {
      this.items.push(this.object)
      this.clearObject()
    },
    clearObject () {
      this.object = {
        gender: null,
        item: ''
      }
      this.message = null
    },
    getRecommendation (gender) {
      let data = _.map(_.filter(this.items, ['gender', gender]), 'item')
      let result = _.head(_(data).countBy().entries().maxBy(_.last))
      this.message = 'Recommendation item for ' + gender + ' is ' + result + '.'
      return result
    }
  },
  watch: {
    'object.gender': {
      handler: function (val) {
        if (val && _.some(this.items, ['gender', val])) {
          let recommendation = this.getRecommendation(val)
          this.object.item = recommendation
        }
      },
      deep: true
    }
  }
}
</script>

<style>
  .header{
    position: relative;
    background: linear-gradient(87deg,#2dce89,#2dcecc) !important;
    padding-top: 8rem !important;
    font-family: Roboto;
  }
  .header-title{
    position: absolute;
    top: 35px;
    left: 35px;
    color: #fff;
    text-transform: uppercase;
  }
  .container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
